body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, sans-serif;
}

.container {
	max-width: 1060px;
	margin: 0 auto;
	padding: 20px;
}

.clearfix {
	float: none;
	clear: both;
}

/*Header section*/
#header {
	background-color: #323b40;
	text-align: center;
}

#header a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	margin: 10px;
	transition: 0.5s all;
}

#header .active {
	text-decoration: underline;
}

#header a:hover {
	color: #b5cbce;
	font-size: 30px;
}

/*End header section*/
/*Intro section*/
#intro {
	background-color: #d1c8c3;
}

#intro h1 {
	margin-top: 0;
}

#intro p{
	color: #323b40;
	/*text-align: center;*/
}
/*End intro section*/

/*Portfolio section*/
#portfolio {
	background-color: #b5cbce;
}

.portfolio_piece {
	background-color: #c27c71;
	padding: 0;
	border-radius: 10px;
	overflow: hidden;
	transition: 0.5s all;
	width: 100%;
	margin: 10px 0;
	float: none;
}

.portfolio_piece a {
	text-decoration: none;
}

.portfolio_piece img {
	display: block;
	width: 100%;
}

.portfolio_piece a p {
	color: #fff;
	background-color: #323b40;
	padding: 15px;
	margin-top: 0;
	transition: 0.5s all;
	margin-bottom: 0;
}

.portfolio_piece a:hover p {
	background-color: #c27c71;
}
/*End portfolio section*/

/*About section*/
#hero {
	padding: 0;
	max-width: 1100px;
}

#hero img {
	width: 100%;
	display: block;
}

#about {
	background-color: #d1c8c3;
}

h2 {
	margin: 0;
}
/*End about section*/
@media (min-width: 500px) {
	.portfolio_piece {
		width: 31.33333333%;
		margin: 10px 1%;
		float: left;
	}
	#portfolio h2 {
		display: none;
	}
}




